---
layout: default
---
<h1>Home</h1>

<h2>Welcome to Showcases in Mathematical Physics (colocar mais texto aqui depois)</h2>
<p> Showcases in Mathematical Physics is a website focused on promoting Mathematical physics by providing an extensive collection of notes and blog posts.
</p>
<p>The website was conceived in 2026 by Alexandre Mendonça and João Macedo. Driven by the desire to creating an active online Community of Mathematical Physics researchers, where mathematical physicists from all over the world could share short notes about their research topics, using the site as a showcase for their work.
</p>
<p>If you are interested in publishing a short note or blog post, please read the following document:</p>
<!--
<h3>Upcoming Seminars</h3> 
<ul>
{% assign future = site.seminars | sort: 'date' | where_exp:"seminar","seminar.date > site.time" %}
{% for seminar in future limit:3 %}
    {% include include_seminar.html seminar=seminar %}
{% endfor %}
</ul>

<h3>Recent Seminars</h3> 
<ul>
{% assign past = site.seminars | sort: 'date' | reverse | where_exp:"seminar","seminar.date < site.time" %}
{% for seminar in past limit:2 %}
    {% include include_seminar.html seminar=seminar %}
{% endfor %}
</ul>
-->
