---
layout: default
---
<h1>Discussions</h1>
<ul>
{% assign todas_disc = site.Discussions | sort: 'title' %}

{% for disc in todas_disc %}
  <li>
    <a href="{{ disc.url | relative_url }}">{{ disc.title }}</a>
    
    <!-- Nome do autor -->
    <span style="color: #aaa; font-size: 0.95rem;">
      {% if disc.author %}
        — By {{ disc.author }}
      {% endif %}
    </span>
    
    <p>{{ disc.description }}</p>
  </li>
{% endfor %}
</ul>

<!--
<ul>
  {% assign todas_disc = site.Discussions | sort: 'title' %}
  {% for disc in todas_disc %}
    <li>
      <a href="{{ disc.url | relative_url }}">{{ disc.title }}</a>
      
      <p>{{ disc.description }}</p>
    </li>
  {% endfor %}
</ul>
-->
