---
layout: default
---
<h1>Notes</h1>
<ul>
  {% assign todas_notas = site.notes | sort: 'title' %}
  {% for nota in todas_notas %}
    <li>
      <!--<a href="{{ nota.url }}">{{ nota.title }}</a>-->
      <a href="{{ nota.url | relative_url }}">{{ nota.title }}</a>
      <p>{{ nota.description }}</p>
    </li>
  {% endfor %}
</ul>
<!---
<ul>
{% assign future = site.seminars | sort: 'date' | where_exp:"seminar","seminar.date > site.time" %}
{% for seminar in future %}
    {% include include_seminar.html seminar=seminar %}
{% endfor %}
</ul>
-->
