/* Colors */
$bg-light: #2a2a2a;
$bg-main: #202020;
$bg-dark: #1c1c1c;
$bg-darker: #151515;

$text-main: #f0e7d5;
$text-muted: #b6b6b6;
$text-light: #e8e8e8;

$accent-primary:   #4a7fff;
$accent-secondary: #5aaaf5;
$accent-visited:   #72cff0;

/* Fonts */
/* $font-light: 'MontserratLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-regular: 'MontserratRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-semibold: 'MontserratSemiBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-bold: 'MontserratBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;  Fonts before I change to Palatino */

$font-light:    'Palatino Linotype', Palatino, 'Book Antiqua', Georgia, serif;
$font-regular:  'Palatino Linotype', Palatino, 'Book Antiqua', Georgia, serif;
$font-semibold: 'Palatino Linotype', Palatino, 'Book Antiqua', Georgia, serif;
$font-bold:     'Palatino Linotype', Palatino, 'Book Antiqua', Georgia, serif;

/* Sizes */
$base-font-size: 18px;
$base-line-height: 1.5;
